/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.namescontainer {
  display: flex;
}
.firstName {
  background-color: #fddddb;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
}
.lastName {
  background-color: #fddddb;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
}
h1 {
  color: #ffffff;
}
